In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sna
from datetime import datetime

import warnings
warnings.filterwarnings('ignore')

In [2]:
df_tran = pd.read_excel('./KPMG_clean.xlsx', sheet_name="Transactions")
df_demo = pd.read_excel('./KPMG_clean.xlsx',sheet_name='CustomerDemographic')
df_addr = pd.read_excel('./KPMG_clean.xlsx',sheet_name='CustomerAddress')

In [3]:
# Merging the dataset usind customer id

merge_df = pd.merge(df_demo, df_tran, on = 'customer_id', how = 'outer')
merge_df = pd.merge(merge_df, df_addr, on = 'customer_id', how = 'outer')

In [4]:
merge_df.to_excel("merge_data.xlsx", index = False)

## Loding the merge data for further analysis

In [5]:
df = pd.read_excel('./merge_data.xlsx')

In [6]:
df.head().transpose()

,0,1,2,3,4
customer_id,1,1,1,1,1
first_name,Laraine,Laraine,Laraine,Laraine,Laraine
last_name,Medendorp,Medendorp,Medendorp,Medendorp,Medendorp
gender,Female,Female,Female,Female,Female
past_3_years_bike_related_purchases,93.0,93.0,93.0,93.0,93.0
DOB,1953-10-12 00:00:00,1953-10-12 00:00:00,1953-10-12 00:00:00,1953-10-12 00:00:00,1953-10-12 00:00:00
job_title,Executive Secretary,Executive Secretary,Executive Secretary,Executive Secretary,Executive Secretary
job_industry_category,Health,Health,Health,Health,Health
wealth_segment,Mass Customer,Mass Customer,Mass Customer,Mass Customer,Mass Customer
deceased_indicator,N,N,N,N,N
owns_car,Yes,Yes,Yes,Yes,Yes
tenure,11.0,11.0,11.0,11.0,11.0
transaction_id,94.0,3765.0,5157.0,9785.0,13424.0
product_id,86.0,38.0,47.0,72.0,2.0
transaction_date,2017-12-23 00:00:00,2017-04-06 00:00:00,2017-05-11 00:00:00,2017-01-05 00:00:00,2017-02-21 00:00:00
online_order,0.0,1.0,1.0,0.0,0.0
order_status,Approved,Approved,Approved,Approved,Approved
brand,OHM Cycles,Solex,Trek Bicycles,Norco Bicycles,Solex
product_line,Standard,Standard,Road,Standard,Standard
product_class,medium,medium,low,medium,medium
product_size,medium,medium,small,medium,medium
list_price,235.63,1577.53,1720.7,360.4,71.49
standard_cost,125.07,826.51,1531.42,270.3,53.62
Profit,110.56,751.02,189.28,90.1,17.87
product_first_sold_date,1970-01-01 00:00:00,1970-01-01 00:00:00,1970-01-01 00:00:00,1970-01-01 00:00:00,1970-01-01 00:00:00
address,060 Morning Avenue,060 Morning Avenue,060 Morning Avenue,060 Morning Avenue,060 Morning Avenue
postcode,2016.0,2016.0,2016.0,2016.0,2016.0
state,NSW,NSW,NSW,NSW,NSW
country,Australia,Australia,Australia,Australia,Australia
property_valuation,10.0,10.0,10.0,10.0,10.0

In [7]:
# total no of rows and columns 
df.shape

(20332, 30)

In [8]:
df.isna().sum()

customer_id                               0
first_name                                6
last_name                               654
gender                                    6
past_3_years_bike_related_purchases       6
DOB                                     461
job_title                              2468
job_industry_category                  3307
wealth_segment                            6
deceased_indicator                        6
owns_car                                  6
tenure                                  461
transaction_id                          511
product_id                              511
transaction_date                        511
online_order                            865
order_status                            511
brand                                   707
product_line                            707
product_class                           707
product_size                            707
list_price                              511
standard_cost                           707
Profit                                  707
product_first_sold_date                 707
address                                  31
postcode                                 31
state                                    31
country                                  31
property_valuation                       31
dtype: int64

In [9]:
# droping the first name and last name column as it is nor imp

df.drop(['first_name', 'last_name'], axis= 1, inplace=True)

In [10]:
# we are droping the NaN values from all the dataset
df.dropna(inplace = True)

In [11]:
df.isna().sum()

customer_id                            0
gender                                 0
past_3_years_bike_related_purchases    0
DOB                                    0
job_title                              0
job_industry_category                  0
wealth_segment                         0
deceased_indicator                     0
owns_car                               0
tenure                                 0
transaction_id                         0
product_id                             0
transaction_date                       0
online_order                           0
order_status                           0
brand                                  0
product_line                           0
product_class                          0
product_size                           0
list_price                             0
standard_cost                          0
Profit                                 0
product_first_sold_date                0
address                                0
postcode                               0
state                                  0
country                                0
property_valuation                     0
dtype: int64

In [12]:
# remaining total no. of rows and columns after dropping of the Nan values
df.shape

(13926, 28)

In [13]:
df.columns

Index(['customer_id', 'gender', 'past_3_years_bike_related_purchases', 'DOB',
       'job_title', 'job_industry_category', 'wealth_segment',
       'deceased_indicator', 'owns_car', 'tenure', 'transaction_id',
       'product_id', 'transaction_date', 'online_order', 'order_status',
       'brand', 'product_line', 'product_class', 'product_size', 'list_price',
       'standard_cost', 'Profit', 'product_first_sold_date', 'address',
       'postcode', 'state', 'country', 'property_valuation'],
      dtype='object')

In [14]:
# to find out the current age of all the customers we will be adding the new column after DOB
Age= datetime.now() - df.DOB

df.insert(4,"Age",Age)

In [15]:
# Extract the number of days from the 'Age' column
df['Age'] = df['Age'].dt.days

# Convert the number of days to years
df['Age'] = (df['Age'] / 365.25).round()

In [16]:
# Changing the data type from float to int
df.Age = df.Age.astype(int)

In [17]:
# No human can be alive till the age of 179 so we are removing this age from the dataset
df = df[df['Age']!=179]

In [18]:
# removing the DOB column because now we are having the Age column
df.drop("DOB",axis =1, inplace = True)

In [19]:
df.job_title.value_counts()

Social Worker                214
Nuclear Power Engineer       193
Chemical Engineer            189
Internal Auditor             180
Clinical Specialist          177
                            ...
Automation Specialist IV      10
Office Assistant II            8
Research Assistant III         8
Developer I                    7
Database Administrator II      5
Name: job_title, Length: 195, dtype: int64

In [20]:
df.job_title.isna().sum()

0

In [21]:
# removing the time stamp from the transaction_date column
df.transaction_date = pd.to_datetime (df.transaction_date).dt.date

In [22]:
df.transaction_date.sort_values(ascending=False)

10203    2017-12-30
881      2017-12-30
17730    2017-12-30
1499     2017-12-30
17765    2017-12-30
            ...
9763     2017-01-01
17361    2017-01-01
17342    2017-01-01
309      2017-01-01
2129     2017-01-01
Name: transaction_date, Length: 13918, dtype: object

In [23]:
# Above we can see that the most recent transaction happened on 2017-12-30 so we can add the new column name Current date 
# then we can subtract the current date and transaction date to get to know recently the product is sold

df['Comparision_date'] = pd.to_datetime('2017-12-30')
df.Comparision_date = pd.to_datetime(df.Comparision_date).dt.date

recency = (df.Comparision_date - df.transaction_date).dt.days
df.insert(12,'recency',recency)

# Removing the comparision date
df.drop("Comparision_date", axis =1, inplace = True)

In [24]:
# removing the time stamp from the product_first_sold_date column
df.product_first_sold_date = pd.to_datetime (df.product_first_sold_date).dt.date

In [25]:
# Adding the new column transation month after transaction date for better understanding
transaction_month = pd.to_datetime(df.transaction_date).dt.month_name()
df.insert(14,"transaction_month", transaction_month)

In [26]:
df.state.value_counts()

NSW    7363
VIC    3475
QLD    3080
Name: state, dtype: int64

In [27]:
df.Age.value_counts().sort_index()

21     45
22    101
23    170
24    274
25    246
26    273
27    277
28    299
29    252
30    240
31    258
32    162
33    219
34    287
35    264
36    286
37    411
38    300
39     85
40    138
41    149
42    324
43    414
44    490
45    914
46    680
47    469
48    449
49    566
50    370
51    227
52    233
53    213
54    226
55    259
56    307
57    234
58    263
59    306
60    226
61    196
62    203
63    219
64    354
65    174
66    176
67    231
68    179
69    176
70     77
79      5
80      7
88      5
92     10
Name: Age, dtype: int64

In [28]:
age_bins = [20,30,40,50,60,70,80,90,100]
Age_category = pd.cut(df['Age'], bins = age_bins, right = True)
df.insert(4,'Age_category',Age_category)

In [29]:
df.Age_category.value_counts().sort_index()

(20, 30]     2177
(30, 40]     2410
(40, 50]     4825
(50, 60]     2494
(60, 70]     1985
(70, 80]       12
(80, 90]        5
(90, 100]      10
Name: Age_category, dtype: int64

In [30]:
df.deceased_indicator.value_counts()

N    13910
Y        8
Name: deceased_indicator, dtype: int64

In [31]:
df = df[df.deceased_indicator != 'Y']

In [32]:
df.deceased_indicator.value_counts()

N    13910
Name: deceased_indicator, dtype: int64

In [33]:
df.state.value_counts()

NSW    7355
VIC    3475
QLD    3080
Name: state, dtype: int64

In [34]:
df.recency.describe()

count    13910.000000
mean       181.804673
std        105.648144
min          0.000000
25%         89.000000
50%        181.000000
75%        274.000000
max        363.000000
Name: recency, dtype: float64

In [35]:
df['R_Score'] = pd.qcut(df.recency, q = 5 , labels = False)

# The 'q' parameter in pd.qcut determines the number of quantiles to use (5 in this case).
# The 'labels=False' parameter assigns numeric labels to the quantiles (0 to 4).

In [36]:
df.R_Score.value_counts().sort_index()

0    2798
1    2776
2    2794
3    2770
4    2772
Name: R_Score, dtype: int64

In [37]:
# This code groups the DataFrame by the 'Product_ID' column and calculates the count of each product ID.
df ['count_product_id'] = df.groupby('product_id')['product_id'].transform('count')

# The resulting counts are assigned as the F scores for each records
df['F_Score'] = pd.qcut(df.count_product_id, q = 5 , labels = False)

In [38]:
df['M_score'] = pd.qcut(df.Profit, q = 5, labels = False, duplicates='drop')

# This code uses the `qcut` function from the pandas library to calculate the quantiles of the 'Profit' column.
# The `q` parameter specifies the number of quantiles to create (in this case, 5).
# The resulting quantiles are then converted to numeric labels using the `labels=False` argument.
# The `duplicates='drop'` argument is used to drop any duplicate quantile values.

In [39]:
df.M_score.value_counts().sort_index()

0    2803
1    2839
2    2736
3    2815
4    2717
Name: M_score, dtype: int64

In [40]:
df['RFM_Score'] = 100*df.R_Score+10*df.F_Score+df.M_score

In [41]:
df.RFM_Score.describe()

count    13910.000000
mean       220.644428
std        141.843803
min          0.000000
25%        110.000000
50%        221.000000
75%        332.000000
max        444.000000
Name: RFM_Score, dtype: float64

In [42]:
# assign customer titles (Bronze, Silver, Gold, Platinum) based on the RFM scores
# IFS(H4>411,"Platinum",AND(H4<=411,H4>311),"Gold",AND(H4<=311,H4>144),"Silver",H4<=144,"Bronze")
def assign_customer_title(score):
    if score >= 411:
        return 'Platinum'
    elif score <= 411 and score > 332:
        return "Gold"
    elif score <= 332 and score >= 221:
        return "Silver"
    else:
        return "Bronze"
    
df ['Customer_Title'] = df.RFM_Score.apply(assign_customer_title)

In [43]:
df.Customer_Title.value_counts().sort_index()

Bronze      6885
Gold        1473
Platinum    1968
Silver      3584
Name: Customer_Title, dtype: int64

In [45]:
def assign_customer_title(score):
    if score == 444:
        return 'Platinum Customer'
    elif score < 444 and score >= 433:
        return 'Very Loyal'
    elif score < 433 and score >= 421:
        return 'Becoming Loyal'
    elif score < 421 and score >= 344:
        return 'Recent Customer'
    elif score < 344 and score >= 323:
        return 'Potential Customer'
    elif score < 323 and score >= 311:
        return 'Late Bloomer'
    elif score < 311 and score >= 224:
        return 'Losing Customer'
    elif score < 224 and score >= 212:
        return 'High Risk Customer'
    elif score < 212 and score >= 124:
        return 'Almost Lost Customer'
    elif score < 124 and score >= 112:
        return 'Evasive Customer'
    elif score < 111 and score >= 90:
        return 'Lost Customer'
    else:
        return 'Customer Left'
    
df['New_Customer_Title'] = df['RFM_Score'].apply(assign_customer_title)

In [46]:
df.New_Customer_Title.value_counts().sort_index()

Almost Lost Customer    1968
Becoming Loyal           820
Customer Left           2902
Evasive Customer         826
High Risk Customer       773
Late Bloomer             669
Losing Customer         1951
Lost Customer            763
Platinum Customer         79
Potential Customer      1207
Recent Customer         1374
Very Loyal               578
Name: New_Customer_Title, dtype: int64

In [47]:
df1 = df.copy()

In [48]:
df1.head(5).transpose()

,0,1,2,3,4
customer_id,1,1,1,1,1
gender,Female,Female,Female,Female,Female
past_3_years_bike_related_purchases,93.0,93.0,93.0,93.0,93.0
Age,70,70,70,70,70
Age_category,"(60, 70]","(60, 70]","(60, 70]","(60, 70]","(60, 70]"
job_title,Executive Secretary,Executive Secretary,Executive Secretary,Executive Secretary,Executive Secretary
job_industry_category,Health,Health,Health,Health,Health
wealth_segment,Mass Customer,Mass Customer,Mass Customer,Mass Customer,Mass Customer
deceased_indicator,N,N,N,N,N
owns_car,Yes,Yes,Yes,Yes,Yes
tenure,11.0,11.0,11.0,11.0,11.0
transaction_id,94.0,3765.0,5157.0,9785.0,13424.0
product_id,86.0,38.0,47.0,72.0,2.0
recency,7,268,233,359,312
transaction_date,2017-12-23,2017-04-06,2017-05-11,2017-01-05,2017-02-21
transaction_month,December,April,May,January,February
online_order,0.0,1.0,1.0,0.0,0.0
order_status,Approved,Approved,Approved,Approved,Approved
brand,OHM Cycles,Solex,Trek Bicycles,Norco Bicycles,Solex
product_line,Standard,Standard,Road,Standard,Standard
product_class,medium,medium,low,medium,medium
product_size,medium,medium,small,medium,medium
list_price,235.63,1577.53,1720.7,360.4,71.49
standard_cost,125.07,826.51,1531.42,270.3,53.62
Profit,110.56,751.02,189.28,90.1,17.87
product_first_sold_date,1970-01-01,1970-01-01,1970-01-01,1970-01-01,1970-01-01
address,060 Morning Avenue,060 Morning Avenue,060 Morning Avenue,060 Morning Avenue,060 Morning Avenue
postcode,2016.0,2016.0,2016.0,2016.0,2016.0
state,NSW,NSW,NSW,NSW,NSW
country,Australia,Australia,Australia,Australia,Australia
property_valuation,10.0,10.0,10.0,10.0,10.0
R_Score,0,3,3,4,4
count_product_id,128,198,89,137,175
F_Score,1,4,0,2,4
M_score,0,3,1,0,0
RFM_Score,10,343,301,420,440
Customer_Title,Bronze,Gold,Silver,Platinum,Platinum
New_Customer_Title,Customer Left,Potential Customer,Losing Customer,Recent Customer,Very Loyal

In [49]:
df1.shape

(13910, 38)

In [50]:
df.to_excel("merge_clean_data.xlsx", index=False)